@page "/signin-linkedin"
@using System.Security.Claims
@using System.Security.Principal
@inject NavigationManager Navigation


<h3>Perfil de Usuario</h3>


@code {
    protected override void OnInitialized()
    {
        var authorizationCode = Navigation.Uri.Split('?')[1].Split('=')[1];
        Navigation.NavigateTo($"/login?code={authorizationCode}");
    }
}
