@attribute [Authorize]
@rendermode RenderMode.InteractiveAuto
@page "/Contact"



<AuthorizeView>

    <Authorized>
        <h1>Contact</h1>
    </Authorized>

    <Authorizing>

    </Authorizing>

    <NotAuthorized>
        <NotAutorizedCustom />
    </NotAuthorized>

</AuthorizeView>