@attribute [Authorize]
@rendermode RenderMode.InteractiveAuto

@page "/PorfolioPage"

<AuthorizeView>

    <Authorized>
        <h1>PorfolioPage</h1>
    </Authorized>

    <Authorizing>

    </Authorizing>

    <NotAuthorized>
        <NotAutorizedCustom />
    </NotAuthorized>

</AuthorizeView>