@attribute [Authorize]
@rendermode RenderMode.InteractiveAuto

@page "/Resume"

<AuthorizeView>

    <Authorized>
        <h1>Resume</h1>
    </Authorized>

    <Authorizing>

    </Authorizing>

    <NotAuthorized>
        <NotAutorizedCustom />
    </NotAuthorized>

</AuthorizeView>