@inherits LayoutComponentBase

@using Themes;

<MudThemingProvider IsDarkMode="true" Theme="themes" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudMainContent>

        <MudContainer Class="px-8 mt-8 align-content-center justify-content-center ">
            <div class="centered-content">
                @Body
            </div>
        </MudContainer>

    </MudMainContent>
</MudLayout>


<style>
    .centered-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; /* Opcional, dependiendo del caso */
    }
</style>
